@import 'colors';

body {
    font-family: sans-serif;
    color:  $grey;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

div.container {
    width: 100%;
    max-width: $maxwidth;
    margin: 0 auto;
}

button {
    color: $grey;
    background-color: $greyBackground;
    text-decoration: none;
    padding: .5rem 1rem;
    border: 2px solid $greyBorder;
    display: inline-block;
    text-transform: uppercase;
    font-size: x-large;
    padding: 1.5rem;
    margin-right: 1rem;
    border-bottom: none;

        &:hover, &.active{
            color: white;
            background-color: $teal;
            border: 2px solid $teal;
            border-bottom: none;
            transition: ease-in-out .25s;
        }
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

main{
    article{
        a{
            color: $linkTeal;
        }
        h2{
            width: 100%;
            display: block;
            text-transform: uppercase;
            padding-left: 1rem;
        }
        p {
            width: 60%;
            padding-left: 1rem;
        }
        ul {
            padding-left: 2rem;
            
        }
    }
}